<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Host or Join Game</span>
                <p>To Join a game, enter the GameId of the host.<br>
                    To create a GameId to give to other players, Host a game!</p><br>
                <div class="card-action">
                    <div>
                        <input type="text" id="game-id" placeholder="Ask your host for the Game ID" />
                    </div>
                    {{!-- //Search for the GameID of the host --}}
                    <button class="btn" id="host-join">Join your Host</button><br><br>
                    {{!-- //Get request as a button that will create a gameID --}}
                    <button class="btn" id="host-create">Host a Game!</button>
                </div>
            </div>
        </div>
    </div>
</div>