<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <form action="/arena/join" method="post">
                    {{!-- //Get request as a button that will create a gameID --}}
                    {{!-- <a class="btn" id="host-create">Host a Game!</a> --}}
                    <div>
                        <input type="text" name="id" id="game-id" placeholder="Ask your host for the Game ID" />
                    </div>
                    <button class="btn" type="submit">Join Your Host</button>
                </form>

                {{!-- //Search for the GameID of the host --}}
                {{!-- <a class="btn" id="host-join">Join your Host</a><br><br> --}}
                <div class="row"></div>
                <form action="/arena/newGame" method="post">
                    {{!-- //Get request as a button that will create a gameID --}}
                    {{!-- <a class="btn" id="host-create">Host a Game!</a> --}}
                    <button class="btn" type="submit">Host a Game!</button>
                </form>

            </div>
        </div>
    </div>
</div>