<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                    <div>
                        <input type="text" name="join" id="game-id" placeholder="Ask your host for the Game ID" />
                    </div>
                    {{!-- //Search for the GameID of the host --}}
                    <a href="/arena/" class="btn" id="host-join">Join your Host</a><br><br>
                    {{!-- //Get request as a button that will create a gameID --}}
                    <a class="btn" id="host-create">Host a Game!</a>
            </div>
        </div>
    </div>
</div>

