    <!-- centering container -->
    <div class="container">
        <p>Holy moly</p>
      <div class="row ">
        <!-- 'screen edges' container -->
        <div class="col s12 m8 l6 teal ">
          <!-- top bezel -->
          <div class="col s10" id="top-bezel">
            <!-- top bezel content -->
          </div>

          <!-- game id bar -->
          <div class="col s10" id="game-id">
            <!-- game id content -->
          </div>

          <!-- Player select below -->
          <div class="col s10" id="player-select">
              
            <div class="col s9" id="player-1">
              <!-- Player one example -->
              
            </div>
            <div class="col s9" id="player-2">
              <!-- Player two example -->
            </div>
            <div class="col s9" id="player-3">
              <!-- Player three example -->
            </div>
            <div class="col s9" id="player-4">
              <!-- Player four example -->
            </div>
          </div>

          <!-- Player-info tray below -->
          <div class="col s10" id="player-view">
            <!-- Selected player's stats -->
            <div class="col s9" id="player-info">

            </div>

          </div>
          <!-- end edges container -->
        </div>
      </div>
    </div>