<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="mtghost.css" />
  </head>

  <body>
    <!-- centering container -->
    <div class="container">
      <h1 class="center-align">MTG HOST</h1>
      <div class="red white-text valign-wrapper bezel">
        <h4 class="center-align">PLAYER LIFE TRACKER</h4>
      </div>
      <!-- player select -->
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a href="#p1-tray"
                ><i class="tiny material-icons">layers</i>Player 1<br />hey</a
              >
            </li>
            <li class="tab col s3">
              <a href="#p2-tray">
                <i class="tiny material-icons">send</i> Player 2</a
              >
            </li>
            <li class="tab col s3">
              <a href="#p3-tray">
                <i class="tiny material-icons">loyalty</i> Player 3</a
              >
            </li>
            <li class="tab col s3">
              <a href="#p4-tray">
                <i class="tiny material-icons">map</i> Player 4</a
              >
            </li>
          </ul>
        </div>
        <!-- player info trays -->
        <!-- RULE: P1 tab is never disabled - P2/3/4 starts disabled and enable as players connect -->
        <div id="p1-tray" class="col s12 player-tray">
          <!-- once complete, handlebars the below per player -->
          <!-- player 1 -->
          <div id="p1-name">
            <div class="valign-wrapper">
              <i class="small material-icons">layers</i>
              <p>PLAYER ONE PLACEHOLDER NAME</p>
            </div>
          </div>
          <div id="p1-stats">
            jQuery updates all stats (W/L) inline, ONCE on-login
          </div>
          <span id="p1-life">Life: 38</span><span id="spacer-span"> </span
          ><span id="p1-poison">Poison: 0</span>
          <div class="divider"></div>
          <div id="p1-tokens">TOKENS HANDLEBARS GOES HERE</div>
        </div>
        <!-- player 2 -->
        <div id="p2-tray" class="col s12 player-tray">
          <div id="p2-name">
            <div class="valign-wrapper">
              <i class="small material-icons">send</i>
              <p>PLAYER TWO PLACEHOLDER NAME</p>
            </div>
          </div>
          <div id="p2-stats">
            jQuery updates all stats (W/L) inline, ONCE on-login
          </div>
          <span id="p2-life">Life: 20</span><span id="spacer-span"> </span
          ><span id="p2-poison">Poison: 1</span>
          <div class="divider"></div>
          <div id="p2-tokens">TOKENS HANDLEBARS GOES HERE</div>
        </div>
        <!-- player 3 -->
        <div id="p3-tray" class="col s12 player-tray">
          <div id="p3-name">
            <div class="valign-wrapper">
              <i class="small material-icons">loyalty</i>
              <p>PLAYER THREE PLACEHOLDER NAME</p>
            </div>
          </div>
          <div id="p3-stats">
            jQuery updates all stats (W/L) inline, ONCE on-login
          </div>
          <span id="p3-life">Life: 9</span><span id="spacer-span"> </span
          ><span id="p3-poison">Poison: 2</span>
          <div class="divider"></div>
          <div id="p3-tokens">TOKENS HANDLEBARS GOES HERE</div>
        </div>
        <!-- player 4 -->
        <div id="p4-tray" class="col s12 player-tray">
          <div id="p4-name">
            <div class="valign-wrapper">
              <i class="small material-icons">map</i>
              <p>PLAYER FOUR PLACEHOLDER NAME</p>
            </div>
          </div>
          <div id="p4-stats">
            jQuery updates all stats (W/L) inline, ONCE on-login
          </div>
          <span id="p4-life">Life: 111</span><span id="spacer-span"> </span
          ><span id="p4-poison">Poison: 6</span>
          <div class="divider"></div>
          <div id="p4-tokens">TOKENS HANDLEBARS GOES HERE</div>
        </div>
      </div>
      <!-- life gain/loss + add token modal -->
      <div class="row">
        <!-- LIFE/TOKEN controllers TODO: Make centered (inactive tabs?) and size -->
        <div class="col s12 teal lighten-3">
          <a id="life-plus" href="#">LIFE +</a
          ><a id="life-minus" href="#">LIFE -</a
          ><a id="token-plus" href="#">TOKEN +</a>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script>
      $(document).ready(function() {
        $(".tabs").tabs();
      });
    </script>
  </body>
</html>
