/* for vertical alignment, uncomment
.ul, .tabs {
  flex-direction: column;
  height: 100%;
  float: left;
  width: 100%;
} */

.player-tray {
   color: white;
}

.active {
  background-color:grey;
  }
